# Ignore API keys and environment config
.env

# Ignore virtual environments 
venv/
__pycache__/

# Ignore macOS metadata
.DS_Store

# Ignore Python bytecode
*.pyc
*.pyo

# Ignore Image uploads
/static/uploads/

