<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap" rel="stylesheet">
  <title>{{ recipe.title }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <a href="/recipes" class="back-button">Back to Recipes</a>
    <div class="card">
      <h2>{{ recipe.title }}</h2>
      <p><strong>Ingredients:</strong></p>
      <ul>
        {% for item in recipe.ingredients.split(',') %}
            <li>{{ item.strip() }}</li>
        {% endfor %}
      </ul>
      <p><strong>Method:</strong></p>
      <ol>
        {% for step in recipe.method.split('.') %}
        {% if step.strip() %}
            <li>{{ step.strip() }}.</li>
        {% endif %}
        {% endfor %}
       </ol>
    </div>
    {% if recipe.image %}
        <div class="image-card">
            <img src="{{ url_for('static', filename='uploads/' + recipe.image) }}" alt="Recipe Image" class="recipe-image">
        </div>

        <form method="POST" action="/delete-image/{{ id }}">
            <button type="submit" class="delete-btn">Delete Image</button>
        </form>
    {% else %}
        <form method="POST" action="/upload-image/{{ id }}" enctype="multipart/form-data" class="image-upload-form">
            <label for="image">Add a photo of this recipe:</label>
            <input type="file" name="image" accept="image/*" required>
            <button type="submit">Upload Image</button>
        </form>
    {% endif %}

</div>
</body>
</html>
